
.subnavbar__listmenu{
	display: none;
	list-style: none;
	margin: 0.5em 0 1em 1em;

	&-item {
		display: block;

		a {
			text-decoration: none;
			color: #ffffff;
			font-size: 1rem;
		}
	}

}


.show {
    -moz-transform: translateX(-20em);
	-webkit-transform: translateX(-20em);
	-ms-transform: translateX(-20em);
	transform: translateX(-20em);
}

.showSubMenu {
	display: block;
}